.navbar {
  box-shadow:0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 12px -5px rgba(0, 100, 251, 0.55) !important;
}
.navbar .navbar-header {
  margin-top:-15px;
  padding-bottom:15px;
}
.page-main {
  margin: 0;
  padding: 0;
  border: 0;
  margin-top:100px;
}
.page-main,.features,.comingup,.started {
  background-image:url('/static/img/hero-banner.png');
  background-size:cover;
}
.main-section {
  margin-top:-30px;
  margin-bottom:30px;
}
.page-main .container {
  padding-top:100px;
  padding-bottom:100px;
}
.navbar.navbar-transparent {
  background-color:#e5f2fd;
}
.navbar .navbar-nav > li > a {
  color:#777;
}
.navbar .navbar-nav > li > a:hover {
  color:#038cf9;
}
.navbar .navbar-brand {
  color:#038cf9;
  font-size:25px;
}
.navbar .navbar-brand>img {
  display:inline;
  width:50px;
  height:50px;
  border-radius:50%;
}
.navbar .navbar-brand:hover {
  color:#038cf9;
}
.page-header .title,.page-header .container {
  color:#3C4858;
}
.white-bg {
  background-color:white;
}
.features .material-icons {
  font-size:50px;
  color:#007bff;
}
.features .card {
  background:transparent;
}
h2.title {
  margin-bottom:0px;
}
.title-ul {
  height: 5px;
  background: #007bff;
  width: 70px;
  margin: auto;
  margin-bottom: 50px;
  border-radius:5px;
}
.card .card-image .card-title {
  left:35px;
}
.form-plan {
  text-align: center;
  font-size: 20px;
  color: #007bff;
}
